/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p,
label,
h1,
h2,
h3,
h4,
h5 {
	color: #441e5d;
	font-family: comfortaa;
}

/* --------------------------------------------------
                  Custom styles 
----------------------------------------------------- */

/* -----------------------------------------------------------------------------------------------------------------
                  HOME PAGE
-------------------------------------------------------------------------------------------------------------------- */


html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}

/* ------------- Green slanted rectangles ------------- */
/* ------------- This section formats the green divs and makes them have a slant to have some visual appeal. It uses z-index to place it in the background and skews it on the Y axis. Origin makes the slant start from there. ------------- */
.slanted {
	position: relative;
	width: 100%;
	height: 12em;
	background-color: c7e12e;
	z-index: -1;
	transform-origin: top left;
	transform: skewY(-4deg);
}

/* ------------- Nav bar ------------- */
/* ------------- Nav is aligned the the right side of the header. ------------- */
nav ul {
	color: #441e5d;
	font-family: comfortaa;
	position: absolute;
	right: 0;
	display: flex;
	font-size: 1em;
	font-weight: bold;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	padding: 1em;
}


/* ------------- When you hover over the nav elements, they will slightly grow in size. ------------- */
nav li:hover {
	transform: scale(1.15);
	transition: ease-in-out;
	transition-duration: 0.2s;
}


/* ------------- Site title ------------- */
.head {
	position: relative;
	bottom: 7.5em;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}

.head h2 {
	font-size: 2em;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}


/* ------------- Banner image ------------- */
/* ------------- This makes the banner image go end to end, a style I am partial to. ------------- */
.icecream img {
	width: 100%;
}

img {
	width: 100%;
}

/* ------------- Homepage info ------------- */

h3 {
	font-size: 1.5em;
	margin: 0.5em 0;
}

.info div {
	padding: 1em;
	text-align: center;
}


/* ------------- Formats the buttons to be purple and rounded. Though this is different from my original mock up, I thought the rounded buttons would work better with my design and my roudned font. ------------- */
.info a,
button {
	color: #c7e12e;
	padding: 1em;
	background-color: #441e5d;
	font-family: comfortaa;
	border-radius: 50px;
}

.info p {
	margin: 0.5em 0 2em 0;
}

.info img {
	width: 100%;

}


/* ------------- Ice Cream Flavours ------------- */

/* ------------- When you hover over the ice cream flavour images, they grow and wobble. I thought this was a fun and quirky addition to the website and makes it a little more interesting and interactive.  ------------- */
@keyframes wobble {
	0% {
		transform: scale(1.15) rotate(10deg)
	}

	30% {
		transform: scale(1) rotate(0deg)
	}

	60% {
		transform: scale(1.15) rotate(-10deg)
	}
}

.flavours {
	margin-bottom: 4em;
}

.flavours li:hover {
	animation-name: wobble;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

.flavours ul {
	padding: 4em;
	display: flex;
	justify-content: center;
}

.flavours li {
	text-align: center;
	width: 20em;
	height: auto;
	color: #441e5d;
	font-family: comfortaa;
}

/* ------------- Footer ------------- */


.footer {
	width: 100%;
	font-family: comfortaa;
	position: absolute;
	display: grid;
	grid-template-areas:
		"empty button"
		"copyright info"
}

/* Footer info */
.contactfooter {
	text-align: right;
	margin: 0 1em;
	grid-area: info;
	margin-top: 1em;
}

/* Copyright */
.copyright {
	margin: 0 1em;
	grid-area: copyright;
	margin-top: 1em;
}

/* Contact button */
.contactbutton {
	grid-area: button;
	text-align: right;
	margin: 0 1em;
}

.footer a{
	font-size: 2em;
	border-radius: 50px;
	border: 2px solid #441e5d;
	padding: 0.2em;
}

/* Green slanted divs */
.bottom {
	content: '';
	display: block;
	background-color: c7e12e;
	width: 100%;
	height: 137px;
	position: absolute;
	transform: skewY(-4deg);
	transform-origin: left bottom;
	z-index: -1;
}

.slantedbottom {
	content: '';
	display: block;
	background-color: c7e12e;
	width: 100%;
	height: 137px;
	position: absolute;
	transform-origin: left bottom;
	z-index: -2;
}



/* ------------------------------- ABOUT PAGE AND SPECIALTIES PAGE ------------------------------------------------------- */

.abouthead img {
	margin: 2em 0 0 0;
}

.aboutinfo {
	padding: 2em 6em;
}

.aboutinfo p {
	text-align: center;
	margin: 3em 0 8em 0;
}


/* -------------------------------------- CONTACT PAGE ------------------------------------------------------------------ */

.contact {
	padding: 2em 6em;
}

.contact input {
	display: block;
	min-width: 100%;
	margin: 1em 0 1em;
}

.contact textarea {
	display: block;
	min-width: 100%;
	min-height: 10em;
	margin: 1em 0 2em 0;
}

.contact h3 {
	font-weight: bold;
	font-size: 2em;
}

.form p {
	max-width: 40em;
	text-align: center;
	margin: 1em auto 0 auto;
	width: 100%;
}

/* -------------------------------------------------------------------
                    Desktop Styles
------------------------------------------------------------------- */
/* ------------- At 800px the format changes ------------- */
@media screen and (min-width:800px) {

	html {
		font-size: 16px;
	}

	/* ------------- Green slanted rectangles ------------- */
	/* ------------- The top green div is increased in height to take up more space than on mobile screens. ------------- */
	.slanted {
		position: relative;
		width: 100%;
		height: 20em;
		background-color: c7e12e;
		z-index: -1;
		transform-origin: top left;
		transform: skewY(-4deg);
	}

	/* ------------- Headings ------------- */
	.head h1 {
		font-size: 7em;
	}

	.head h2 {
		font-size: 5em;
	}

	nav ul {
		font-size: 1.5em;
	}

	nav ul li {
		padding: 2em 3em;
	}

	/* ------------- When you make the page bigger, this info will snap into a 2x2 grid so the pictures do not take up too much room and that all the info is easier to see. ------------- */
	.info {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(2, 500px);
		grid-template-rows: repeat(2, 400px);
	}

	.info h3 {
		padding-top: 2em;
	}

	.info div {
		padding: 1em;
		text-align: left;
	}

}